* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

#logo {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

header nav ul {
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    padding: 5px;
}

header nav ul li {
    display: inline;
}

main {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

main section {
    padding: 25px;
    text-align: justify;
}

footer {
    position: fixed;
    bottom: 0;
}

footer ul li {
    display: inline;
}

#welcome {
    text-align: right;
    font-size: 25px;
}