* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 75%;
    max-width: 75em;
    height: auto;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 7em;
    padding: 0 20px 10px;
    background: rgba(255, 0, 0, .35);
    border-radius: 0 0 10px 10px;
}

header a {
    color: #000;
    font-family: "Lobster", cursive;
    font-size: 70px;
    float: left;
    text-decoration: none;
}

header nav {
    height: 100%;
    width: 40%;
    float: right;
    text-align: right;
}

header ul {
    height: 100%;
    list-style: none;
}

header ul li {
    height: 100%;
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px;
    background: #000;
    border-radius: 0 0 20px 20px;
}

header ul li img {
    width: 0.5em;
    margin-top: .85em;
}

.content {
    width: 100%;
    float: left;
    margin-top: 1.875em;
    padding: 1.875em;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    font-family: monospace;
    font-size: 14px;
    color: #FFF;
    text-align: justify;
}

.content .topContent img {
    width: 30%;
    float: left;
}

.content .topContent .topRight {
    width: 65%;
    float: right;
}

.content .topContent .topRight h2 {
    width: 140px;
    padding: 0 10px;
    float: right;
    clear: both;
    margin-bottom: 10px;
    background: #FFF;
    color: #000;
    font-family: "Lobster", cursive;
    font-size: 30px;
}

.content .topContent .topRight p {
    width: 100%;
    float: right;
}

.content .bottomContent {
    width: 100%;
    float: left;
    margin: 0.5em 0.5em;
}

.content .bottomContent .column {
    width: 33%;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #FFF;
}

.content .bottomContent .column.column:last-child {
    border: none;
}

.content .bottomContent .column h3 {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Lobster", cursive;
    background-color: #D80E0E;
}

.content .bottomContent .column p {
    line-height: 1.2em;
}

.content .bottomContent .column a.readMore {
    display: block;
    width: 100px;
    margin-top: 5px;
    padding: 0 10px;
    background: #FFF;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 66%;
    float: left;
    margin-top: 1.875em;
    padding: 10px 10px 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}